
{% extends 'base.html' %}

{% block content %}
<main class="form-signin w-100 m-auto">
      <form method="post">
        <img
          class="mb-4"
          src="/static/logo/logo.png"
          alt=""
          width="72"
          height="57"
        />
        <h1 class="h3 mb-3 fw-normal">Register User</h1>
        {% csrf_token %}
        {{form.error}}
        {{ form.username.as_p }}
        {{ form.password.as_p }}
        <button class="btn btn-primary w-100 py-2" type="submit">
          Register
        </button>
        <p>Don't have an account? <a href="{% url 'signup' %}">SignUp</a></p>
        <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2025</p>
      </form>
    </main>
    
{% endblock %}