{% extends 'base.html' %}

{% block content %}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">{{ article.name }}</h1>
                <img
                    src="{{ article.image.url }}"
                    aria-label="Placeholder: Thumbnail"
                    class="bd-placeholder-img card-img-top"
                    height="325"
                    width="100%"
                >
                <title>{{ article.name }}</title>
                <rect width="100%" height="100%" fill="#55595c"></rect>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em"><h4>{{ article.name }}</h4></text>
                <p class="lead text-body-secondary">
                {{ article.description }}
                </p>
                <p>
                <a href="#" class="btn btn-primary my-2">Buy for {{ article.price }} GNF</a>
                <a href="{% url 'add_to_cart' pk=article.pk %}" class="btn btn-secondary my-2">Add to Cart</a>
                </p>
            </div>
        </section>
{% endblock %}