{% extends 'base.html' %}

{% block content %}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <form method="post" enctype="multipart/form-data">
                    <img
                    class="mb-4"
                    src="/static/logo/logo.png"
                    alt=""
                    width="72"
                    height="57"
                    />
                    <h1 class="h3 mb-3 fw-normal">Update Article</h1>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary w-100 py-2" type="submit">
                    Update Article
                    </button>
                </form>
                <p class="mt-5 mb-3 text-body-secondary">&copy; 2017–2025 </p>      
            </div>

   
{% endblock %}